{% extends "layouts/main.html" %}

{% block pageTitle %}
	Supplier type - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
	<div class="gca-back-link">
		{{ govukBackLink({
			text: "Back",
			href: "javascript:window.history.back()"
		}) }}
	</div>
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<table class="gca-table">
				<tbody>
					<tr>
						<th scope="row">Supplier type</th>
						<td>As example "Sole control, Reseller, Both</td>
					</tr>
					<tr>
						<th scope="row">Organisation whose services are being resold</th>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
