{% extends "layouts/main.html" %}

{% block pageTitle %}
	Mandatory certifications - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
	<div class="gca-back-link">
		{{ govukBackLink({
			text: "Back",
			href: "javascript:window.history.back()"
		}) }}
	</div>
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<table class="gca-table">
				<tbody>
					<tr>
						<th scope="row" class="govuk-!-font-family-sans">Mandatory certifications</th>
						<td>
							<p class="govuk-body">Are you bidding to offer IaaS and/or PaaS as a reseller or are you in sole control of the infrastructure</p>
							<p class="govuk-body">Reseller</p>

							<p class="govuk-body">Cloud service suppliers you intend to resell with evidence</p>
							<p class="govuk-body">Organisation 1</p>
							<p class="govuk-body">Organisation name<br>AWS</p>
							<p class="govuk-body">Website address/upload for organisation</p>
							<p class="govuk-body">Website address<br>https://partners.amazonaws.com/partners/001E000000UfalBIAR/Insight%20Enterprises</p>

							<p class="govuk-body">Organisation 2</p>
							<p class="govuk-body">Organisation name<br>Microsoft</p>
							<p class="govuk-body">Website address/upload for organisation</p>
							<p class="govuk-body">Website address<br>https://marketplace.microsoft.com/en-us/partners/8bc78177-662b-440b-ae00-bbc5bf193560/overview</p>

							<p class="govuk-body">Organisation 3</p>
							<p class="govuk-body">Organisation name<br>Google</p>
							<p class="govuk-body">Website address/upload for organisation</p>
							<p class="govuk-body">Website address<br>https://cloud.google.com/find-a-partner/partner/insight-direct-uk-ltd</p>

							<p class="govuk-body">Organisation 4</p>
							<p class="govuk-body">Organisation name<br>Salesforce</p>
							<p class="govuk-body">Website address/upload for organisation</p>
							<p class="govuk-body">Upload<br>Provided</p>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
