{% extends "layouts/main.html" %}

{% block pageTitle %}
	Cyber essentials – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
	<div class="gca-back-link">
		{{ govukBackLink({
			text: "Back",
			href: "javascript:window.history.back()"
		}) }}
	</div>
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl gca-page-title">Cyber essentials</h1>

			<table class="gca-table">
				<thead>
					<tr>
						<th scope="col">Part</th>
						<th scope="col">Expiry date</th>
						<th scope="col">Validated?</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Cyber essential (CE)</td>
						<td>31/08/2027</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td>Cyber essential plus (CE+)</td>
						<td>31/08/27</td>
						<td>No</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}