{% extends "layouts/main.html" %}

{% set pageName = "DOS 72 returning supplier" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Returning supplier options for DOS 7.2</h1>
    <p class="govuk-body">These are the options avaiable to a returning supplier for DOS 7.2.</p>

    {{ govukWarningText({
      text: "You can only choose one option.",
      iconFallbackText: "Warning"
    }) }}

    {{ govukRadios({
      name: "returning-supplier-option",
      fieldset: {
        legend: {
          text: "Select an option",
          classes: "govuk-visually-hidden"
        }
      },
      items: [
        {
          value: "option-1",
          text: "Current supplier transferring to DOS 7.2 without any changes."
        },
        {
          value: "option-2",
          text: "Current supplier adding or removing Lot(s)"
        },
        {
          value: "option-3",
          text: "Current supplier who wants to come off DOS 7.2"
        },
        {
          value: "option-4",
          text: "Option 4"
        }
      ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Save and continue"
      }) }}

      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary"
      }) }}
    </div>

    <p class="govuk-body">
      <a class="govuk-link" href="/DOS72StartPage">Back to DOS 72 start page</a>
    </p>
  </div>
</div>
{% endblock %}
