{% extends "layouts/main.html" %}

{% set pageName = "DOS 72 start page" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
      Find technology or people for digital projects in the public sector
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-2">
      <a class="govuk-link govuk-!-font-weight-bold" href="#">View G-Cloud 13 supplier services</a>
    </p>

    <p class="govuk-body govuk-!-margin-bottom-2">
      <a class="govuk-link govuk-!-font-weight-bold" href="#">View Digital Outcomes and Specialists 7 suppliers</a>
    </p>

    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-6">
      e.g. access to agile development and user-centred design services, including buying digital specialists over specific outcomes
    </p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">If you are a buyer</h2>
    <p class="govuk-body govuk-!-margin-bottom-0">
      Create and save a list of suppliers on the <a class="govuk-link" href="#">Contract Award Service</a> instead.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Sell services</h2>

    <section class="gca-services-panel" aria-label="Sell services information">
      <div class="gca-services-panel__header">
        <h3 class="govuk-heading-s gca-services-panel__title govuk-!-margin-bottom-0">
          G-Cloud 14 is open for application
        </h3>
      </div>
      <div class="gca-services-panel__body">
        <p class="govuk-body govuk-!-margin-bottom-3">You need an account to apply.</p>
        <p class="govuk-body govuk-!-margin-bottom-3">The application deadline is 3pm BST, Tuesday 7 May 2024.</p>
        <p class="govuk-body govuk-!-margin-bottom-3">
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Become a supplier</a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-3">
          <a class="govuk-link" href="/DOS72ReturningSupplier">Returning supplier</a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-2">
          <a class="govuk-link" href="#">See Digital Marketplace sales figures</a>
        </p>
      </div>
    </section>
  </div>
</div>
{% endblock %}
