{% extends "layouts/main.html" %}

{% set pageName = "DOS 72 flow options" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">DOS 72 flow options</h1>

    <p class="govuk-body">
      1.   Existing supplier with migrated data - <a href="/DOS72ExistingSupplierMigratedData">View prototype</a>
    </p>

    <p class="govuk-body">
      2.   Existing supplier add/remove Lots - <a href="/DOS72AddRemoveLots">View prototype</a>
    </p>

    <p class="govuk-body">
      3.   Existing supplier remove existing DOS 7.1 data and start a fresh application - <a href="/DOS72FreshApplication">View prototype</a>
    </p>

    <p class="govuk-body">
      4.   Opt-in and Opt-out - <a href="/DOS72OptInOut">View prototype</a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="/DOS72Options">Back to DOS 72 options</a>
    </p>
  </div>
</div>
{% endblock %}
