{% extends "layouts/main.html" %}

{% set pageName = "Your Digital Outcomes and Specialists 7.2 services" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if showLot4RemovedBanner %}
      {{ govukNotificationBanner({
        type: "success",
        titleText: "Success",
        text: "User Research Studios and Participants was removed"
      }) }}
    {% elif showLot4AddedBanner %}
      {{ govukNotificationBanner({
        type: "success",
        titleText: "Success",
        text: "User research and participants has been added"
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Your Digital Outcomes and Specialists 7.2 services</h1>

    <p class="govuk-body govuk-!-margin-bottom-6">
      <a class="govuk-button govuk-!-margin-bottom-0" href="/DOS72ExistingAddService" role="button" draggable="false">Add a service</a>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Drafts</h2>
    <p class="govuk-body govuk-!-margin-bottom-6">You haven't added any draft services yet.</p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Ready for submission ({{ "3" if lot4Removed else "4" }})</h2>
    <p class="govuk-body govuk-!-margin-bottom-4">These services will be submitted and can be edited before the deadline</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Services</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Lot 1: Digital Outcomes</td>
          <td class="govuk-table__cell">Active</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Remove</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Lot 2: Digital Capability and Delivery Partners</td>
          <td class="govuk-table__cell">Active</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Remove</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Lot 3: Digital Specialists</td>
          <td class="govuk-table__cell">Active</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="#">Remove</a></td>
        </tr>
        {% if not lot4Removed %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Lot 4: User Research Studios and Participants</td>
          <td class="govuk-table__cell">Active</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="/DOS72ExistingAreYouSure">Remove</a></td>
        </tr>
        {% endif %}
      </tbody>
    </table>

    <p class="govuk-body">
      <a class="govuk-link" href="/DOS72ExistingProgress">Return to your Digital Outcomes and Specialists 7.2 application</a>
    </p>

  </div>
</div>
{% endblock %}
