{% extends "layouts/main.html" %}

{% set pageName = "Existing supplier fresh application" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Existing supplier remove existing DOS 7.1 data and start a fresh application</h1>
    

    {{ govukButton({
      text: "Start",
      href: "/DOS72FreshApplicationStart"
    }) }}

    <p class="govuk-body">
      <a class="govuk-link" href="/DOS72FlowOptions">Back to DOS 72 flow options</a>
    </p>
  </div>
</div>
{% endblock %}
