{% extends "layouts/main.html" %}

{% set pageName = "Start again narrative" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Start again  with a new application in DOS 7.2 narrative</h1>
    <p class="govuk-body">You selected DOS 7.2 Opt out.</p>

    <p class="govuk-body">If you select to start a new application for DOS 7.2. 
        This means you will have to start the whole application from the start and not take advantage of re-using your DOS 7 application information.
    </p>

    <p class="govuk-body">Please consider the implications carefully before starting a new application for DOS 7.2.</p>

    <p class="govuk-body"><strong>This action is not reversible.</strong></p>

    <form method="post" action="/DOS72ExistingAreYouSure">
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/DOS72FreshApplicationStart">Back to DOS 7.2 Services</a>
    </p>
  </div>
</div>
{% endblock %}
