{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ "Welcome to the GOV.UK Prototype Kit for GCA" | safe }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}

    <p>
      <a class="govuk-button" href="/content.html" style="background-color:#0f5132;color:#fff;border-color:#0f5132;">Start</a>
    </p>
  </div>
</div>

{% endblock %}
