{% extends "layouts/main.html" %}

{% block pageTitle %}
	ISO9001 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
	<div class="gca-back-link">
		{{ govukBackLink({
			text: "Back",
			href: "/isoParts"
		}) }}
	</div>
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl gca-page-title">ISO 9001</h1>
			<h2 class="govuk-heading-m gca-page-subtitle">Quality Management Systems</h2>

            <p class="govuk-body">
				WORKDAY LTD attained ISO 9001 certification on 26 August 2026.
			</p>

			<p class="govuk-body">
				This table shows the year annual re-evaluations or audits for ISO 9001.
			</p>

			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Year</th>
						<th scope="col" class="govuk-table__header">Re-evaluation date</th>
						<th scope="col" class="govuk-table__header">Audit date</th>
						<th scope="col" class="govuk-table__header">Accreditor</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">2027</th>
						<td class="govuk-table__cell">TBC</td>
						<td class="govuk-table__cell">TBC</td>
						<td class="govuk-table__cell">TBC</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">2028</th>
						<td class="govuk-table__cell">TBC</td>
						<td class="govuk-table__cell">TBC</td>
						<td class="govuk-table__cell">TBC</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">2029</th>
						<td class="govuk-table__cell">TBC</td>
						<td class="govuk-table__cell">TBC</td>
						<td class="govuk-table__cell">TBC</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">2030</th>
						<td class="govuk-table__cell">TBC</td>
						<td class="govuk-table__cell">TBC</td>
						<td class="govuk-table__cell">TBC</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}