{% extends "layouts/main.html" %}

{% block pageTitle %}
	ISO's – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
	<div class="gca-back-link">
		{{ govukBackLink({
			text: "Back",
			href: "/lot1AB"
		}) }}
	</div>
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl gca-page-title">ISO's</h1>

			<div class="gca-row-table">
				<div class="gca-row-table__row gca-row-table__row--title">
					<p class="gca-row-table__key">Part</p>
					<p class="gca-row-table__value govuk-!-font-weight-bold">Status</p>
				</div>
				<div class="gca-row-table__row">
					<p class="gca-row-table__key">ISO 9001</p>
					<p class="gca-row-table__value"><span class="gca-status gca-status--complete">Complete</span></p>
				</div>
				<div class="gca-row-table__row">
					<p class="gca-row-table__key">ISO 27001</p>
					<p class="gca-row-table__value"><span class="gca-status">Not started</span></p>
				</div>
				<div class="gca-row-table__row">
					<p class="gca-row-table__key">ISO 20000-1</p>
					<p class="gca-row-table__value"><span class="gca-status gca-status--complete">Partially completed</span></p>
				</div>
				<div class="gca-row-table__row">
					<p class="gca-row-table__key">ISO 14001</p>
					<p class="gca-row-table__value"><span class="gca-status gca-status--complete">Complete</span></p>
				</div>
				<div class="gca-row-table__row">
					<p class="gca-row-table__key">ISO 270017</p>
					<p class="gca-row-table__value"><span class="gca-status">Not started</span></p>
				</div>
				<div class="gca-row-table__row">
					<p class="gca-row-table__key">ISO 270018 - if providing a public cloud services</p>
					<p class="gca-row-table__value"><span class="gca-status gca-status--complete">Partially completed</span></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}