{% extends "layouts/main.html" %}

{% block pageTitle %}
  ITA assessment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
	<div class="gca-back-link">
		{{ govukBackLink({
			text: "Back",
			href: "javascript:window.history.back()"
		}) }}
	</div>
{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl gca-page-title">ITA assessment</h1>

			<p class="govuk-body">This page is ready for the ITA assessment content.</p>
		</div>
	</div>
{% endblock %}