{% extends "layouts/main.html" %}

{% block pageTitle %}
  Minion – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back to prototypes",
    href: "/content"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-caption-l">Prototype 12</p>
      <h1 class="govuk-heading-xl">Minion</h1>

      <figure>
        <img
          src="/public/images/minion.png"
          alt="A small yellow character wearing round silver goggles and blue overalls, holding a dark plush toy."
          style="display: block; width: 135px; height: 180px; max-width: 100%; object-fit: contain;"
        >
        <figcaption class="govuk-body-s govuk-!-margin-top-2">
          A cheerful yellow character with round goggles and blue overalls.
        </figcaption>
      </figure>
    </div>
  </div>

{% endblock %}
