{% extends "layouts/main.html" %}

{% block pageTitle %}
  Novation complete – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">Novation complete</h1>
  </div>

  <p class="govuk-body">Your novation request has been submitted successfully.</p>

  <a href="supplierEdit.html" class="govuk-button govuk-button--secondary">Finish</a>
{% endblock %}
