{% extends "layouts/main.html" %}

{% block pageTitle %}
  Supplier details edit admin – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <style>
    .supplier-details-panel {
      border: 1px solid #b1b4b6;
      margin-bottom: 30px;
    }

    .supplier-details-panel__header {
      background: #f3f2f1;
      border-bottom: 1px solid #b1b4b6;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 14px 20px;
    }

    .supplier-details-panel__header .govuk-heading-m {
      margin-bottom: 0;
    }

    .supplier-details-list {
      margin: 0;
    }

    .supplier-details-list .govuk-summary-list__row {
      padding: 14px 20px;
      border-bottom: 1px solid #b1b4b6;
    }

    .supplier-details-list .govuk-summary-list__row:last-child {
      border-bottom: 0;
    }

    .supplier-details-list .govuk-summary-list__key {
      width: 34%;
      vertical-align: top;
      padding-right: 30px;
    }

    .supplier-details-list .govuk-summary-list__value {
      width: 66%;
      margin-bottom: 0;
    }

    .supplier-details-list .govuk-input,
    .supplier-details-list .govuk-textarea {
      max-width: 100%;
      margin-bottom: 0;
    }

    .supplier-details-list ul {
      margin: 0;
      padding-left: 20px;
    }

    .supplier-details-list li + li {
      margin-top: 10px;
    }

    .supplier-details-list .govuk-body {
      margin-bottom: 0;
    }

    @media (max-width: 40.0625em) {
      .supplier-details-panel__header {
        align-items: flex-start;
      }

      .supplier-details-list .govuk-summary-list__key,
      .supplier-details-list .govuk-summary-list__value {
        width: auto;
      }
    }
  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="supplier-details-panel">
        <div class="supplier-details-panel__header">
          <h1 class="govuk-heading-m">Supplier Details</h1>
          <a class="govuk-link" href="#">Edit</a>
        </div>

        <form action="#" method="post">
          <dl class="govuk-summary-list supplier-details-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-body-m">Organisation name</dt>
            <dd class="govuk-summary-list__value govuk-body-m">
              <input class="govuk-input" id="organisation-name" name="organisationName" type="text" value="LIVINGSTON IT CONSULTING LTD">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-body-m">Organisation identifiers</dt>
            <dd class="govuk-summary-list__value govuk-body-m">
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <label class="govuk-label" for="companies-house-number">Companies House number</label>
                  <input class="govuk-input" id="companies-house-number" name="companiesHouseNumber" type="text" value="SC572931">
                </li>
                <li>
                  <label class="govuk-label" for="ppon">PPON</label>
                  <input class="govuk-input" id="ppon" name="ppon" type="text" value="PZBX-7324-ZMMT">
                </li>
              </ul>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-body-m">Organisation email</dt>
            <dd class="govuk-summary-list__value govuk-body-m">
              <input class="govuk-input" id="organisation-email" name="organisationEmail" type="text" value="simulate-delivered@notifications.service.gov.uk">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-body-m">Organisation address</dt>
            <dd class="govuk-summary-list__value govuk-body-m">
              <textarea class="govuk-textarea" id="organisation-address" name="organisationAddress" rows="4">Supplier #719073 Contact Address 1
Supplier #719073 Contact City
AA11 1AA
United Kingdom</textarea>
            </dd>
          </div>
          </dl>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
